<!DOCTYPE html>
<head>
	<title>ADDING USERS</title>
	
</head>

<body>
	<h1>Pleae enter the details here to register</h1> 
	
	
	<center>
		<fieldset style="width:50%; margin-top: 10%;">
	<form>
		
		<br>
		<br>
		<label>UserId:</label>
		
		<input type="text" id="id" name="id"  required>
		
		<br>
		<br>
		<label>Username:</label>
		<input type="text" id="email" name="email" required>
		<br>
		<br>
		
		<label>Password:</label>
		<input type="text" id="password" name="password" required>
		<br>
		<br>
		
		<button onclick="/us/add" style="color: navy;">Register</button>
		
		<a href="/us/login">login</a>
		
		
		
		
	</form>
	</fieldset>
	</center>
	
	
</body>