<!DOCTYPE html>
<head>
	<title>LOGIN PAGE</title>
	
</head>

<body>
	<h1>Pleae enter the details here to LOGIN</h1> 
	<center>
		
		<fieldset style="width:50%; margin-top: 10%;">
	<form   action="/us/valid" method="post">
		
		
		
		<br>
		<br>
		
		<label>Email</label>
		<input type="text" id="email" name="email" required>
		<br>
		<br>
		
		<label>password</label>
		<input type="text" id="password" name="password" required>
		<br>
		<br>
		
		
		
		
		
		<button onclick="/us/valid" style="color: navy;">Login</button>
		
		</center>
		
		
		
		
	</form>
	</fieldset>
</body>